h1 {
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

h5 {
  font-family: 'Times New Roman', Times, serif;
}

h4 {
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
}

.display-4 {
  font-family: 'Times New Roman', Times, serif;
}

.nav-no-shadow {
  -webkit-box-shadow: 0px  grey;
          box-shadow: 0px  grey;
  background-color: transparent;
  -webkit-transition: background-color 0.35s linear, -webkit-box-shadow 0.35s linear;
  transition: background-color 0.35s linear, -webkit-box-shadow 0.35s linear;
  transition: box-shadow 0.35s linear, background-color 0.35s linear;
  transition: box-shadow 0.35s linear, background-color 0.35s linear, -webkit-box-shadow 0.35s linear;
}

.nav-scroll {
  -webkit-box-shadow: 0px 5px 10px #4d4d4d;
          box-shadow: 0px 5px 10px #4d4d4d;
  background-color: white;
  -webkit-transition: background-color 0.35s linear, -webkit-box-shadow 0.35s linear;
  transition: background-color 0.35s linear, -webkit-box-shadow 0.35s linear;
  transition: box-shadow 0.35s linear, background-color 0.35s linear;
  transition: box-shadow 0.35s linear, background-color 0.35s linear, -webkit-box-shadow 0.35s linear;
}

.navbar {
  padding-bottom: 0px;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.navbar .nav-link {
  font-weight: 700;
  font-size: 1.3rem;
  color: #5a5a5a;
  -webkit-transition: font 0.4s linear;
  transition: font 0.4s linear;
}

.navbar .nav-link:hover {
  color: #242424;
}

.navbar .nav-link-scroll {
  font-weight: 700;
  margin-right: 10px;
  font-size: 0.8rem;
  color: #5a5a5a;
  text-decoration: none;
  -webkit-transition: font 0.4s linear;
  transition: font 0.4s linear;
}

.navbar .nav-link-scroll:hover {
  color: #242424;
}

.navbar .active {
  color: black;
}

.navbar .nav-item {
  margin-right: 10px;
}

.navbar .logo {
  width: 200px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: width 0.4s linear,height 0.4s linear;
  transition: width 0.4s linear,height 0.4s linear;
}

.navbar .logo-scroll {
  width: 120px;
  height: 42px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: width 0.4s linear,height 0.4s linear;
  transition: width 0.4s linear,height 0.4s linear;
}

html {
  scroll-behavior: smooth;
}

#splash-screen {
  height: 100vh;
  width: 100vw;
  background-color: #fcf3c5;
  z-index: 100;
}

#splash-screen .logo-splash-screen {
  visibility: hidden;
  position: absolute;
  width: 40vw;
  height: 25vh;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#home {
  height: 120vh;
  background-color: #ffb008;
}

#home .toon-bg-1 {
  position: absolute;
  height: 50px;
  left: 35%;
  top: 60%;
}

#home .toon-bg-2 {
  position: absolute;
  height: 50px;
  left: 45%;
  top: 85%;
}

#home .toon-bg-3 {
  position: absolute;
  height: 60px;
  left: 5%;
  top: 65%;
}

#home .toon-bg-4 {
  position: absolute;
  height: 50px;
  left: 0%;
  top: 45%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#home .toon-bg-5 {
  position: absolute;
  height: 60px;
  left: 55%;
  top: 20%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#home .toon-bg-6 {
  position: absolute;
  height: 60px;
  left: 30%;
  top: 15%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#home .toon-bg-7 {
  position: absolute;
  height: 50px;
  left: 93%;
  top: 30%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#home .toon-bg-8 {
  position: absolute;
  height: 50px;
  left: 85%;
  top: 15%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#home .toon-bg-9 {
  position: absolute;
  height: 50px;
  left: 90%;
  top: 95%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#home #sobek {
  position: absolute;
  top: -600px;
  left: -250px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  width: 80%;
  height: 200%;
}

#home .container {
  padding-top: 200px;
  margin-left: 150px;
  margin-right: 100px;
}

#home h2 {
  color: #003102;
  font-weight: 500;
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
}

#home h1 {
  color: #003102;
  font-weight: bolder;
  margin-left: 60px;
  margin-top: -10px;
  font-family: 'Montserrat', sans-serif;
}

#home hr {
  margin: 0px;
  width: 500px;
}

#home h5 {
  color: #003102;
  font-weight: bolder;
}

#home h6 {
  color: #003102;
}

#home h6 .phone-absolute {
  position: relative;
  top: 15px;
}

#home h6 .phone-hide {
  opacity: 0;
}

#home p {
  color: #003102;
}

#home .btn-red {
  background-color: #8c1211;
  margin: 35px 0px 25px 0px;
}

#home .swiper-container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

#home .swiper-slide {
  background-position: center;
  background-size: cover;
}

#home .circle1 {
  position: absolute;
  left: 75%;
  -webkit-transform: translate(-50%, -6%);
          transform: translate(-50%, -6%);
  margin-left: -9px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
  width: 400px;
  height: 400px;
  opacity: 0.5;
}

#home .circle2 {
  position: absolute;
  left: 75%;
  opacity: 0.5;
  -webkit-transform: translate(-50%, -11%);
          transform: translate(-50%, -11%);
  margin-left: -10px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
  width: 450px;
  height: 450px;
}

#home .circle3 {
  position: absolute;
  left: 75%;
  opacity: 0.5;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
  margin-left: -10px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
  width: 500px;
  height: 500px;
}

#product {
  background-image: url(./asset/pine-wood-texture.jpg);
  background-size: cover;
}

#product .main-title {
  padding-top: 100px;
}

#product .title {
  width: 15%;
  border: 2px solid black;
  margin: auto;
}

#product .card-body {
  height: 180px;
}

#product .card-body h6 {
  text-align: center;
  margin-top: -8px;
}

#product .card-body hr {
  width: 100%;
  border: 1px solid black;
}

#product .card-body p {
  font-size: 0.8rem;
}

#product .card {
  margin-bottom: 40px;
  width: 70%;
}

#event {
  background-color: #003102;
  height: 110vh;
  padding: 100px;
  width: auto;
}

#event .text-content {
  position: relative;
  padding-top: 50px;
}

#event .text-content h1 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #fcf3c5;
  position: absolute;
  visibility: hidden;
}

#event .text-content span {
  color: #ffb008;
}

#event .img-content {
  color: #fcf3c5;
  font-size: 30px;
  margin-top: 100px;
  margin-left: 130px;
  position: relative;
}

#event .img-content .img {
  visibility: hidden;
}

#event .img-content .fa-truck {
  position: absolute;
  margin: auto;
}

#event .img-content .fa-users {
  position: absolute;
  margin: auto;
}

#event .img-content .sale {
  position: absolute;
  margin: auto;
  font-size: 50px;
  padding: 100px 30px;
  border-radius: 50%;
  border: 30px solid #fcf3c5;
}

#event .img-content .free {
  position: absolute;
  margin: auto;
  font-size: 50px;
  padding: 100px 70px;
  border-radius: 50%;
  border: 30px solid #fcf3c5;
}

#what-we-do {
  position: relative;
  height: 110vh;
  z-index: 1;
}

#what-we-do .shadow-button-play {
  position: absolute;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  top: 36.4%;
  left: 25%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding-left: 20px;
  background-color: #fcf3c5;
}

#what-we-do .button-play {
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  top: 40%;
  left: 25%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding-left: 20px;
  color: white;
  background-color: #ffb008;
}

#what-we-do .button-share {
  position: absolute;
  height: 50px;
  width: 110px;
  border-radius: 30px;
  top: 70%;
  left: 25%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-weight: 800;
  background-color: #fcf3c5;
  color: #003102;
}

#what-we-do .button-share:hover {
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;
  background-color: #003102;
  color: #fcf3c5;
}

#what-we-do .button-join-us {
  position: absolute;
  height: 50px;
  width: 110px;
  border-radius: 30px;
  top: 70%;
  left: 35%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: white;
  font-weight: 800;
  font-size: 0.9rem;
  color: #fcf3c5;
}

#what-we-do .button-join-us:hover {
  background-color: rgba(161, 161, 161, 0.5);
}

#what-we-do .button-list-video {
  position: absolute;
  height: 50px;
  width: 110px;
  border-radius: 30px;
  top: 70%;
  left: 43%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-weight: 800;
  font-size: 0.9rem;
  color: #fcf3c5;
}

#what-we-do .button-list-video:hover {
  background-color: rgba(161, 161, 161, 0.5);
}

#what-we-do .background {
  height: 100%;
  position: absolute;
  width: 100%;
  background-image: url(./asset/alex.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#what-we-do .block {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: black;
  opacity: 0.7;
}

#what-we-do #myVideo {
  position: absolute;
  margin-top: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 50px;
  border: 10px;
}

#what-we-do h1 {
  position: absolute;
  top: 43%;
  left: 25%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  color: #ffb008;
  font-family: 'Montserrat', sans-serif;
}

#what-we-do .text {
  color: white;
  font-size: 20px;
  margin-top: 5px;
  color: #fcf3c5;
}

#what-we-do .mask {
  margin: 5px;
  padding-right: 30px;
  padding-left: 10px;
  display: inline;
  border-radius: 40px;
  height: 40px;
  background-color: rgba(161, 161, 161, 0.5);
  overflow: hidden;
  position: absolute;
  top: 27%;
  right: 20%;
}

#what-we-do p {
  position: absolute;
  color: white;
  top: 51%;
  left: 34%;
  font-size: 1.5rem;
  color: #fcf3c5;
  font-family: 'Montserrat', sans-serif;
}

#what-we-do p em {
  color: #f8ff99;
}

#testimoni {
  background-color: #003102;
  color: #ffb008;
}

#testimoni .row {
  padding-bottom: 35vh;
  position: relative;
  width: 100;
}

#testimoni .text-stay {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
}

#testimoni .text-stay h1 {
  margin-left: 90px;
  margin-right: 30px;
}

#testimoni .text-stay p {
  margin-left: 90px;
  margin-right: 30px;
}

#testimoni .col-lg-7 {
  padding-top: 170px;
}

#testimoni .col-lg-7 .deactivate {
  display: none;
}

#testimoni .col-lg-3 {
  padding-left: 100px;
}

#testimoni .box-img-testi {
  position: relative;
  top: 40px;
  margin-top: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  border: 2px solid black;
}

#testimoni .box-img-testi .photo-testi-1-child {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  z-index: 0;
}

#testimoni .box-img-testi .middle {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  top: 0%;
  border-radius: 30px;
  text-align: center;
}

#testimoni .box-img-testi .middle:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), to(rgba(255, 174, 0, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(255, 174, 0, 0.5));
}

#testimoni .box-img-testi .middle:hover + .photo-testi-1-child {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#testimoni .box-img-testi .active {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), to(rgba(255, 174, 0, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(255, 174, 0, 0.5));
}

#testimoni .box-img-testi2 {
  position: relative;
  top: 40px;
  margin-top: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  border: 2px solid black;
  margin-left: -40px;
  padding-right: 0px;
}

#testimoni .box-img-testi2 .photo-testi-1-child {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  z-index: 0;
}

#testimoni .box-img-testi2 .middle {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  top: 0%;
  border-radius: 30px;
  text-align: center;
}

#testimoni .box-img-testi2 .middle:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), to(rgba(255, 174, 0, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(255, 174, 0, 0.5));
}

#testimoni .box-img-testi2 .middle:hover + .photo-testi-1-child {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#testimoni .box-img-testi2 .active {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), to(rgba(255, 174, 0, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(255, 174, 0, 0.5));
}
/*# sourceMappingURL=sate.css.map */